<pre class="cake-error"><a href="javascript:void(0);" onclick="document.getElementById('cakeErr583c15fb62f31-trace').style.display = (document.getElementById('cakeErr583c15fb62f31-trace').style.display == 'none' ? '' : 'none');"><b>Warning</b> (2)</a>: Division by zero [<b>APP/Controller/UserRatingsController.php</b>, line <b>44</b>]<div id="cakeErr583c15fb62f31-trace" class="cake-stack-trace" style="display: none;"><a href="javascript:void(0);" onclick="document.getElementById('cakeErr583c15fb62f31-code').style.display = (document.getElementById('cakeErr583c15fb62f31-code').style.display == 'none' ? '' : 'none')">Code</a> <a href="javascript:void(0);" onclick="document.getElementById('cakeErr583c15fb62f31-context').style.display = (document.getElementById('cakeErr583c15fb62f31-context').style.display == 'none' ? '' : 'none')">Context</a><pre id="cakeErr583c15fb62f31-code" class="cake-code-dump" style="display: none;"><code><span style="color: #000000"><span style="color: #0000BB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$data_to_update&nbsp;</span><span style="color: #007700">=&nbsp;array(</span></span></code>
<code><span style="color: #000000"><span style="color: #0000BB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #DD0000">'total_points'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;(</span><span style="color: #0000BB">$total_points&nbsp;</span><span style="color: #007700">-&nbsp;</span><span style="color: #0000BB">$users_former_rating</span><span style="color: #007700">)&nbsp;+&nbsp;</span><span style="color: #0000BB">$rating_value</span><span style="color: #007700">,</span></span></code>
<span class="code-highlight"><code><span style="color: #000000"><span style="color: #0000BB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #DD0000">'dec_avg'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;((</span><span style="color: #0000BB">$total_points&nbsp;</span><span style="color: #007700">-&nbsp;</span><span style="color: #0000BB">$users_former_rating</span><span style="color: #007700">)&nbsp;+&nbsp;</span><span style="color: #0000BB">$rating_value</span><span style="color: #007700">)/</span><span style="color: #0000BB">$number_votes</span><span style="color: #007700">,</span></span></code></span></pre><pre id="cakeErr583c15fb62f31-context" class="cake-context" style="display: none;">$rating_value = &#039;3&#039;
$sub_detail_id = &#039;7&#039;
$sub_rating_id = &#039;1&#039;
$user_id = &#039;8&#039;
$get_rating = array(
	&#039;UserRating&#039; =&gt; array(
		&#039;id&#039; =&gt; &#039;4&#039;,
		&#039;sub_rating_id&#039; =&gt; &#039;1&#039;,
		&#039;user_id&#039; =&gt; &#039;8&#039;,
		&#039;rating&#039; =&gt; &#039;3&#039;,
		&#039;created&#039; =&gt; &#039;2016-11-28 12:33:15&#039;,
		&#039;modified&#039; =&gt; &#039;2016-11-28 12:33:15&#039;
	),
	&#039;SubRating&#039; =&gt; array(
		&#039;id&#039; =&gt; &#039;1&#039;,
		&#039;sub_detail_id&#039; =&gt; &#039;7&#039;,
		&#039;number_votes&#039; =&gt; &#039;0&#039;,
		&#039;total_points&#039; =&gt; &#039;0&#039;,
		&#039;dec_avg&#039; =&gt; &#039;0&#039;,
		&#039;whole_avg&#039; =&gt; &#039;0&#039;,
		&#039;created&#039; =&gt; &#039;2016-11-21 08:37:19&#039;,
		&#039;modified&#039; =&gt; &#039;2016-11-28 12:31:47&#039;
	)
)
$data = array(
	&#039;sub_rating_id&#039; =&gt; &#039;1&#039;,
	&#039;user_id&#039; =&gt; &#039;8&#039;,
	&#039;rating&#039; =&gt; &#039;3&#039;
)
$get_sub_rating = array(
	&#039;SubRating&#039; =&gt; array(
		&#039;id&#039; =&gt; &#039;1&#039;,
		&#039;sub_detail_id&#039; =&gt; &#039;7&#039;,
		&#039;number_votes&#039; =&gt; &#039;0&#039;,
		&#039;total_points&#039; =&gt; &#039;0&#039;,
		&#039;dec_avg&#039; =&gt; &#039;0&#039;,
		&#039;whole_avg&#039; =&gt; &#039;0&#039;,
		&#039;created&#039; =&gt; &#039;2016-11-21 08:37:19&#039;,
		&#039;modified&#039; =&gt; &#039;2016-11-28 12:31:47&#039;
	),
	&#039;SubDetail&#039; =&gt; array(
		&#039;id&#039; =&gt; &#039;7&#039;,
		&#039;user_id&#039; =&gt; &#039;8&#039;,
		&#039;category_id&#039; =&gt; &#039;2&#039;,
		&#039;discover_url&#039; =&gt; &#039;tolu&#039;,
		&#039;active&#039; =&gt; true,
		&#039;sub_date&#039; =&gt; &#039;2016-11-21 08:37:19&#039;,
		&#039;last_sub_date&#039; =&gt; &#039;2016-11-21 08:37:19&#039;,
		&#039;sub_expiry_date&#039; =&gt; &#039;2016-12-05 08:37:19&#039;,
		&#039;sub_means&#039; =&gt; &#039;web&#039;,
		&#039;profile_pic&#039; =&gt; &#039;profile_adv.jpeg&#039;,
		&#039;featured&#039; =&gt; false
	),
	&#039;UserRating&#039; =&gt; array(
		(int) 0 =&gt; array(
			&#039;id&#039; =&gt; &#039;4&#039;,
			&#039;sub_rating_id&#039; =&gt; &#039;1&#039;,
			&#039;user_id&#039; =&gt; &#039;8&#039;,
			&#039;rating&#039; =&gt; &#039;3&#039;,
			&#039;created&#039; =&gt; &#039;2016-11-28 12:33:15&#039;,
			&#039;modified&#039; =&gt; &#039;2016-11-28 12:33:15&#039;
		)
	)
)
$number_votes = &#039;0&#039;
$total_points = &#039;0&#039;
$dec_avg = &#039;0&#039;
$whole_avg = &#039;0&#039;
$users_former_rating = &#039;3&#039;</pre><pre class="stack-trace">UserRatingsController::rate_user() - APP/Controller/UserRatingsController.php, line 44
ReflectionMethod::invokeArgs() - [internal], line ??
Controller::invokeAction() - CORE/Cake/Controller/Controller.php, line 490
Dispatcher::_invoke() - CORE/Cake/Routing/Dispatcher.php, line 193
Dispatcher::dispatch() - CORE/Cake/Routing/Dispatcher.php, line 167
[main] - APP/webroot/index.php, line 108</pre></div></pre><pre class="cake-error"><a href="javascript:void(0);" onclick="document.getElementById('cakeErr583c15fb63cfe-trace').style.display = (document.getElementById('cakeErr583c15fb63cfe-trace').style.display == 'none' ? '' : 'none');"><b>Warning</b> (2)</a>: Division by zero [<b>APP/Controller/UserRatingsController.php</b>, line <b>45</b>]<div id="cakeErr583c15fb63cfe-trace" class="cake-stack-trace" style="display: none;"><a href="javascript:void(0);" onclick="document.getElementById('cakeErr583c15fb63cfe-code').style.display = (document.getElementById('cakeErr583c15fb63cfe-code').style.display == 'none' ? '' : 'none')">Code</a> <a href="javascript:void(0);" onclick="document.getElementById('cakeErr583c15fb63cfe-context').style.display = (document.getElementById('cakeErr583c15fb63cfe-context').style.display == 'none' ? '' : 'none')">Context</a><pre id="cakeErr583c15fb63cfe-code" class="cake-code-dump" style="display: none;"><code><span style="color: #000000"><span style="color: #0000BB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #DD0000">'total_points'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;(</span><span style="color: #0000BB">$total_points&nbsp;</span><span style="color: #007700">-&nbsp;</span><span style="color: #0000BB">$users_former_rating</span><span style="color: #007700">)&nbsp;+&nbsp;</span><span style="color: #0000BB">$rating_value</span><span style="color: #007700">,</span></span></code>
<code><span style="color: #000000"><span style="color: #0000BB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #DD0000">'dec_avg'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;((</span><span style="color: #0000BB">$total_points&nbsp;</span><span style="color: #007700">-&nbsp;</span><span style="color: #0000BB">$users_former_rating</span><span style="color: #007700">)&nbsp;+&nbsp;</span><span style="color: #0000BB">$rating_value</span><span style="color: #007700">)/</span><span style="color: #0000BB">$number_votes</span><span style="color: #007700">,</span></span></code>
<span class="code-highlight"><code><span style="color: #000000"><span style="color: #0000BB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #DD0000">'whole_avg'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #0000BB">round</span><span style="color: #007700">(((</span><span style="color: #0000BB">$total_points&nbsp;</span><span style="color: #007700">-&nbsp;</span><span style="color: #0000BB">$users_former_rating</span><span style="color: #007700">)&nbsp;+&nbsp;</span><span style="color: #0000BB">$rating_value</span><span style="color: #007700">)/</span><span style="color: #0000BB">$number_votes</span><span style="color: #007700">)</span></span></code></span></pre><pre id="cakeErr583c15fb63cfe-context" class="cake-context" style="display: none;">$rating_value = &#039;3&#039;
$sub_detail_id = &#039;7&#039;
$sub_rating_id = &#039;1&#039;
$user_id = &#039;8&#039;
$get_rating = array(
	&#039;UserRating&#039; =&gt; array(
		&#039;id&#039; =&gt; &#039;4&#039;,
		&#039;sub_rating_id&#039; =&gt; &#039;1&#039;,
		&#039;user_id&#039; =&gt; &#039;8&#039;,
		&#039;rating&#039; =&gt; &#039;3&#039;,
		&#039;created&#039; =&gt; &#039;2016-11-28 12:33:15&#039;,
		&#039;modified&#039; =&gt; &#039;2016-11-28 12:33:15&#039;
	),
	&#039;SubRating&#039; =&gt; array(
		&#039;id&#039; =&gt; &#039;1&#039;,
		&#039;sub_detail_id&#039; =&gt; &#039;7&#039;,
		&#039;number_votes&#039; =&gt; &#039;0&#039;,
		&#039;total_points&#039; =&gt; &#039;0&#039;,
		&#039;dec_avg&#039; =&gt; &#039;0&#039;,
		&#039;whole_avg&#039; =&gt; &#039;0&#039;,
		&#039;created&#039; =&gt; &#039;2016-11-21 08:37:19&#039;,
		&#039;modified&#039; =&gt; &#039;2016-11-28 12:31:47&#039;
	)
)
$data = array(
	&#039;sub_rating_id&#039; =&gt; &#039;1&#039;,
	&#039;user_id&#039; =&gt; &#039;8&#039;,
	&#039;rating&#039; =&gt; &#039;3&#039;
)
$get_sub_rating = array(
	&#039;SubRating&#039; =&gt; array(
		&#039;id&#039; =&gt; &#039;1&#039;,
		&#039;sub_detail_id&#039; =&gt; &#039;7&#039;,
		&#039;number_votes&#039; =&gt; &#039;0&#039;,
		&#039;total_points&#039; =&gt; &#039;0&#039;,
		&#039;dec_avg&#039; =&gt; &#039;0&#039;,
		&#039;whole_avg&#039; =&gt; &#039;0&#039;,
		&#039;created&#039; =&gt; &#039;2016-11-21 08:37:19&#039;,
		&#039;modified&#039; =&gt; &#039;2016-11-28 12:31:47&#039;
	),
	&#039;SubDetail&#039; =&gt; array(
		&#039;id&#039; =&gt; &#039;7&#039;,
		&#039;user_id&#039; =&gt; &#039;8&#039;,
		&#039;category_id&#039; =&gt; &#039;2&#039;,
		&#039;discover_url&#039; =&gt; &#039;tolu&#039;,
		&#039;active&#039; =&gt; true,
		&#039;sub_date&#039; =&gt; &#039;2016-11-21 08:37:19&#039;,
		&#039;last_sub_date&#039; =&gt; &#039;2016-11-21 08:37:19&#039;,
		&#039;sub_expiry_date&#039; =&gt; &#039;2016-12-05 08:37:19&#039;,
		&#039;sub_means&#039; =&gt; &#039;web&#039;,
		&#039;profile_pic&#039; =&gt; &#039;profile_adv.jpeg&#039;,
		&#039;featured&#039; =&gt; false
	),
	&#039;UserRating&#039; =&gt; array(
		(int) 0 =&gt; array(
			&#039;id&#039; =&gt; &#039;4&#039;,
			&#039;sub_rating_id&#039; =&gt; &#039;1&#039;,
			&#039;user_id&#039; =&gt; &#039;8&#039;,
			&#039;rating&#039; =&gt; &#039;3&#039;,
			&#039;created&#039; =&gt; &#039;2016-11-28 12:33:15&#039;,
			&#039;modified&#039; =&gt; &#039;2016-11-28 12:33:15&#039;
		)
	)
)
$number_votes = &#039;0&#039;
$total_points = &#039;0&#039;
$dec_avg = &#039;0&#039;
$whole_avg = &#039;0&#039;
$users_former_rating = &#039;3&#039;</pre><pre class="stack-trace">UserRatingsController::rate_user() - APP/Controller/UserRatingsController.php, line 45
ReflectionMethod::invokeArgs() - [internal], line ??
Controller::invokeAction() - CORE/Cake/Controller/Controller.php, line 490
Dispatcher::_invoke() - CORE/Cake/Routing/Dispatcher.php, line 193
Dispatcher::dispatch() - CORE/Cake/Routing/Dispatcher.php, line 167
[main] - APP/webroot/index.php, line 108</pre></div></pre>success
