<div class="row">
  <div class="col-sm-12 col-md-12">
    <h4>Adverts</h4>
    <div style="border-top:1px solid #eee;margin-bottom:10px;"></div>

    <img class="img-responsive" src="<?php echo $this->webroot."img/adv.jpeg"?>"/>
  </div>
</div>
